:root {
    --flag-black: #000000;
    --flag-yellow: rgba(253, 218, 37, 1);
    --flag-red: rgba(239, 51, 64, 1);

    --size-bezel: .5rem;
}

html {
    --text-color-normal: black;
    --text-color-light: grey;

    --accent-color: #DDF1FA;

    --background-color-normal: white;
    --table-background-color-even: #f2f2f2;
    --table-color-even: black;
    --table-background-color: #ddd;
    --loading-state-background-color: rgba(0, 0, 0, 0.3);
    --border-color: black;
    --scrollbar-handle-color: grey;
    --scrollbar-handle-color-hover: lightgrey;

    --input-autofill-color: auto;
    --input-autofill-background-color: auto;
}

html[data-theme='dark'] {
    --text-color-light: hsl(210, 15%, 35%);
    --background-color-normal: var(--flag-black);

    --hue: 210; /* Blue */
    --accent-hue: 25; /* Orange */
    --text-color-normal: hsl(var(--hue), 10%, 62%);
    --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
    --table-background-color-even: darkgoldenrod;
    --table-color-even: black;
    --table-background-color: #ddd;
    --loading-state-background-color: rgba(200, 200, 200, 0.3);

    --accent-color: hsl(var(--accent-hue), 70%, 30%);
    --border-color: var(--text-color-light);
    --scrollbar-handle-color: var(--text-color-light);
    --scrollbar-handle-color-hover: var(--text-color-normal);

    --input-autofill-color: var(--background-color-normal);
    --input-autofill-background-color: var(--text-color-normal);
}

html[data-theme='high_contrast'] {
    --text-color-light: white;
    --background-color-normal: black;

    --hue: 210; /* Blue */
    --accent-hue: 25; /* Orange */
    --text-color-normal: white;
    --text-color-highlight: white;
    --table-background-color-even: orange;
    --table-color-even: black;
    --table-background-color: white;
    --loading-state-background-color: rgba(400, 400, 400, 0.3);

    --accent-color: black;
    --border-color: white;
    --scrollbar-handle-color: var(--text-color-light);
    --scrollbar-handle-color-hover: grey;

    --input-autofill-color: var(--background-color-normal);
    --input-autofill-background-color: var(--text-color-normal);
}

img {
    mix-blend-mode: multiply;
}

html[data-theme='dark'] img {
    filter: invert(100%) hue-rotate(180deg);
    mix-blend-mode: screen;
}

html[data-theme='high_contrast'] img {
    filter: invert(100%);
    mix-blend-mode: screen;
}

html[data-theme='dark'] ::-webkit-search-cancel-button,
html[data-theme='high_contrast'] ::-webkit-search-cancel-button {
    filter: brightness(0%);
}

body {
    width: 400px;
    height: 150px;

    color: var(--text-color-normal);
    background-color: var(--background-color-normal);
}

input, select, button {
    color: var(--text-color-normal);
    background-color: var(--background-color-normal);
    border-color: var(--border-color);
}

::placeholder {
    color: var(--text-color-light);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--input-autofill-color);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--input-autofill-background-color);
}

input {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 3px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: var(--scrollbar-handle-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    /*background: #555;*/
    background: var(--scrollbar-handle-color-hover);
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0ms !important;
}

#titleHeader {
    text-align: center;
    background-size: 100%;
    background-clip: text;
    background-repeat: repeat;
    background-image: linear-gradient(
            45deg,
            var(--flag-black) 15%,
            var(--flag-yellow) 58%,
            var(--flag-red) 16%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

#titleHeader:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

#inputContainer > div {
    margin-top: 1em;
    display: flex;
}

.formLabel {
    font-weight: bold;
    min-width: 30%;
}

#stationName {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px;
}

#clearSearch {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-left: .5em;
}

#liveBoardTable {
    width: 100%;
    border: 1px solid var(--border-color);
    border-collapse: collapse
}

#liveBoardTable tr td {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 2px;
}

#liveBoardTable th {
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 2px;
}

#liveBoardTable tr:nth-child(even) {
    background-color: var(--table-background-color-even);
    color: var(--table-color-even);
}

#liveBoardTable tr:not(:first-child):hover {
    background-color: var(--table-background-color);
    color: var(--table-color-even);
}

#liveBoardTable .canceled,
#liveBoardTable .delayed {
    color: var(--flag-yellow);
    font-weight: bold;
    background-color: var(--flag-red);
}

#liveBoardTable .unknownPlatform {
    background-color: var(--flag-yellow);
    font-weight: bold;
    color: black;
}

.loading-state {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--loading-state-background-color);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-black {
    position: absolute;
    width: 50%;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 1);
    animation: loading 3s linear infinite;
}
.loading-yellow {
    position: absolute;
    margin-top: 1em;
    width: 50%;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: var(--flag-yellow);
    animation: loading-backwards 4s linear infinite;
}
.loading-red {
    position: absolute;
    margin-top: 2em;
    width: 50%;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: var(--flag-red);
    animation: loading 5s linear infinite;
}
@-webkit-keyframes loading {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
@-webkit-keyframes loading-backwards {
    0% {
        right: 0;
    }
    50% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

#stationDataClarifier {
    font-weight: bold;
}

.clickableCell:hover {
    cursor: pointer;
    text-decoration: underline;
}

#movements {
    margin-top: 1em;
    font-weight: bold;
}

#movementAmount {
    font-weight: bold;
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    padding: 2px;
    display: inline-flex;
    justify-content: center;
    width: 18px;
    margin-left: .5em;
}

#version {
    color: var(--text-color-highlight);
}

#themeInputContainer {
    float: right;
    margin-bottom: 5px;
}