html body {
    width: 350px;
    height: 150px;
}

#titleHeader {
    text-align: center;
    background-size: 100%;
    background-clip: text;
    background-repeat: repeat;
    background-image: linear-gradient(
            45deg,
            #000000 15%,
            rgba(253, 218, 37, 1) 58%,
            rgba(239, 51, 64, 1) 16%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

#titleHeader:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

#donationLink {
    display: flex;
    justify-content: left;
}

#liveBoardTable {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse
}

#liveBoardTable tr td {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}

#liveBoardTable th {
    background-color: #DDF1FA;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}

#liveBoardTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#liveBoardTable tr:hover {
    background-color: #ddd;
}

#liveBoardTable .canceled,
#liveBoardTable .delayed {
    color: rgba(253, 218, 37, 1);
    font-weight: bold;
    background-color: rgba(239, 51, 64, 1);
}

#liveBoardTable .unknownPlatform {
    background-color: rgba(253, 218, 37, 1);
    font-weight: bold;
    color: black;
}

.loading-state {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-black {
    position: absolute;
    width: 50%;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 1);
    animation: loading 3s linear infinite;
}
.loading-yellow {
    position: absolute;
    margin-top: 1em;
    width: 50%;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: rgba(253, 218, 37, 1);
    animation: loading-backwards 4s linear infinite;
}
.loading-red {
    position: absolute;
    margin-top: 2em;
    width: 50%;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: rgba(239, 51, 64, 1);
    animation: loading 5s linear infinite;
}
@-webkit-keyframes loading {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
@-webkit-keyframes loading-backwards {
    0% {
        right: 0;
    }
    50% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

#stationDataClarifier {
    font-weight: bold;
}